html {
  box-sizing: border-box;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
}

img {
  max-width: 100%;
  height: auto;
}



input:not([type='checkbox']),
textarea.ant-input {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: 0 4px;
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}
